body {
<<<<<<< HEAD
  background-color: black;
}

h1 {
  color: white;
}

p {
  color: white;
}

#goblin {
  float: right;
=======
  background-color: black
>>>>>>> parent of 0eb38d0... I forgot to push
}